@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Nunito:wght@200&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
*{
    font-family: 'Roboto Flex', sans-serif;
    
}
/*home style*/
.container{
    background-color: rgb(24, 95, 52);
    height: 80vh;
    width: 37vw;
    margin: 0 auto;
    border-radius: 0 0 50% 50%;
    color: white;
    flex-direction: column;
    display: flex;
    text-align: center;
    

}
.logo img{
    
    width: 15vw;

    
}
.container h3{
    
    margin-top: 0px;

}
.container p{
    
    
    font-size: 2em;
}
#buttonstart{
    padding: 10px 10px;
    background-color: greenyellow;
    width: 50%;
    margin-left: 23%;
    margin-top: 15%;
    font-size: 1.5em;
    font-family: 'Roboto Flex', sans-serif;
}
#buttonstart:hover{
    background-color: black;
}
#buttonstart:active{
    color: yellow;
}
.date{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    width: 20vw;
    margin: 0 auto;
    
}
#currentDate{
    padding: 10px 0px;
    
    
}
/*quiz styling*/
body{
    margin: 0;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.quizContainer{
    background-color: white;
    width: 700px;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 10px 20px #888888;
}
.ansOption{
    display: inline-flex;
    padding: 10px;
    background-color: rgb(229, 243, 107);
}
.ansOption:hover{
    background-color: pink;
}
h1{
    color: black;
    text-align: center;
    
}
input[type="radio"] {
    display: none;
  }
input[type="radio"] + label{
      cursor: pointer;
  }
input[type="radio"]:checked + label {
    border: none;
    background-color: rgb(36, 184, 60);
    padding: 10px;
  }
.answer{
    display: grid;
    grid-template-rows: 1fr 1fr  1fr 1fr;
}
label{
    margin: 0;
}
button{
    padding: 2em;
    border: none;
    display: block;
    color: black;
    width: 100%;
    background-color: greenyellow;
    font-size: 0.9em;
}
button:hover{
    background-color: rgb(124, 71, 80);
}